<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/instagram-photos.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>

    <!-- Sidebar Profile Account -->
    <header id="header">
        <a href="#" class="image avatar"><img src="images/avatar.jpg" alt="" /></a>
        <p>ID: {{user.id}}</p>
        <p>Username: {{user.username}}</p>
        <p>Name:{{user.displayName}}</p>
        
    </header>

    <!-- Main section, displaying feed -->
    <div id="main">
        {{#each photos}}
          <img src="{{url}}" class="img-responsive" class="img hashtag-img">
          
          <div id="caption-div"> {{caption}} </div>
        {{/each}}
    </div<


</html>